AWS_REGION=eu-west-1
TABLE_NAME=cloudops-incidents-v2
METRICS_TABLE_NAME=cloudops-incident-metrics-v2
DYNAMODB_ENDPOINT=http://dynamodb-local:8000
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
CORS_ORIGINS=http://localhost:8081,http://192.168.0.50:8081,http://mirofish:8081
